altair==4.1.0
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217264330/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1610222858736/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1614382476053/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1614377651630/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1613414103629/work
chardet @ file:///D:/bld/chardet_1610093673558/work
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1612993987855/work
decorator==4.4.2
defusedxml==0.6.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1611836818287/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1612890215536/work
glob2==0.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1614193927180/work
ipykernel @ file:///D:/bld/ipykernel_1613853120872/work/dist/ipykernel-5.5.0-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1612487184680/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
jdcal==1.4.1
jedi @ file:///D:/bld/jedi_1610147001629/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125412016/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
MarkupSafe @ file:///D:/bld/markupsafe_1610127684851/work
mistune @ file:///D:/bld/mistune_1610113097974/work
mkl-service==2.3.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///D:/bld/nbconvert_1605402074138/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
notebook @ file:///D:/bld/notebook_1610575510773/work
numpy @ file:///D:/bld/numpy_1612953195634/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1610671411818/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas @ file:///C:/ci/pandas_1613686126415/work
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
patsy==0.5.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1612816881628/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
plotly-express==0.4.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1613068548426/work
protobuf==3.15.2
pyarrow==3.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1613160070169/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1613412098605/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1610147004555/work
PySocks @ file:///D:/bld/pysocks_1610291737679/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pywinpty @ file:///D:/bld/pywinpty_1602377673108/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1613478964937/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
retrying==1.3.3
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1610404472418/work
scipy @ file:///C:/ci/scipy_1614022870207/work
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
statsmodels @ file:///D:/bld/statsmodels_1612273747431/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1614130009176/work
terminado @ file:///D:/bld/terminado_1609794417630/work
testpath==0.4.4
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1610094910414/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1608296160673/work
watchdog @ file:///D:/bld/watchdog_1614010929855/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475657235/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566412/work
wincertstore==0.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
